:root {
    --cor0:#11A958;
    --cor1:#064133;
    --cor2:#C9FFC7;
    --cor3:#FFC700;
    --cor4:#FF8575;
    --cor5:#25CDDA;
    --cor6:#6B9BF8;
   
    --fonte-padrao: 'Open Sans', Arial, Verdana, sans-serif;
}

* {
    margin: 0px; 
    padding: 0px;
}

body {
    background-image: url(NO_Amazonas0013.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

header {
    background-color: var(--cor3);
}

#menu {
    display: flex;
    justify-content: right;
    list-style: none;
    padding: 15px 10px 15px 10px;
}

nav a {
    color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    font-style: var(--fonte-padrao);
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}

#logo {
    width: 150px;
    height: 50px;
    margin: 0;
    position: absolute;
    display: flex;
}
main {
    display: flex;
    padding: 10px;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

fieldset {
    border: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    background-color: rgba(245, 245, 245, 0.849);
    border-radius: 10px;
    height: 600px;
    font-family: var(--fonte-padrao);
    text-align: center;
    line-height: 1.8em;
}

.card-container {   
    height: 600px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    display: flex;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .card {
    transform: rotateY(180deg)
}

.card figure {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.card .front {
    background: rgba( 248, 240, 240, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.447);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.front h1 {
    color: whitesmoke;
    text-shadow: rgba(0, 0, 0, 0.779) 0.1em 0.1em 0.2em;
}

.card .back { 
    transform: rotateY(180deg);
}

.categorias {
    list-style-type: none;
    column-count: 2;
    text-align: left;
}

.button {
    border-radius: 20px;
    background-color: #9BDCB1;
    width: 7em;
    height: 2.1em;
    margin-top: 15px;
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
}

footer {
    text-align: center;
    position: relative;
    background-color: #FFC700;
}